<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @source.name %>
</p>

<p>
  <b>Description:</b>
  <%= @source.description %>
</p>

<p>
  <b>Weburl:</b>
  <%= @source.weburl %>
</p>

<p>
  <b>Physaddress:</b>
  <%= @source.physaddress %>
</p>

<p>
  <b>Sourcetype:</b>
  <%= @source.sourcetype.stdesc %>
</p>

<p>
  <b>Tags:</b>
  <%= @source.tag_list %>
</p>

<div class="well well-sm">
  <% @source.usedmethods.each do |sm| %>
      <span class="label label-default"><%= sm.deliverymethod.dmdesc %></span>
  <% end %>
</div>


<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
