<%- model_class = Source -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>



<p>
  <b>Name:</b>
  <%= @source.name %>
</p>

<p>
  <b>Description:</b>
  <%= @source.description %>
</p>

<p>
  <b>Weburl:</b>
  <%= @source.weburl %>
</p>

<p>
  <b>Physaddress:</b>
  <%= @source.physaddress %>
</p>

<p>
  <b>Sourcetype:</b>
  <%= @source.sourcetype.stdesc %>
</p>

<p>
  <b>Tags:</b>
  <%= raw @source.tag_list.map{ |t| link_to t, source_tag_path(t) }.join(' | ') %>
</p>

<div class="well well-sm">
  <% @source.usedmethods.each do |sm| %>
      <span class="label label-default"><%= sm.deliverymethod.dmdesc %></span>
  <% end %>
</div>

<%= link_to 'New Opinion', new_source_opinion_path(@source) %> |
<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>

<h1>Opinions</h1>

<table>
  <tr>
    <th>Opinion</th>
    <th>Rating</th>
    <th>Comment</th>
    <th>User</th>
    <th></th>
  </tr>

  <% @source.opinions.each do |opinion| %>
      <tr>
        <td><%= opinion.optitle %></td>
        <td><%= opinion.rating %></td>
        <td><%= opinion.comment %></td>
        <td><%= opinion.username %></td>
        <td><% if current_user && (opinion.username == current_user.username) then %>
              <%= link_to 'Edit', edit_source_opinion_path(@source,opinion) %>
          <% end %>
        </td>

      </tr>
  <% end %>
</table>

