<% title 'An opinion on ' + @opinionable.pagetitle %>
<p id="notice"><%= notice %></p>

<p>
  <b>Rating:</b>
  <%= @opinion.rating %>
</p>

<p>
  <b>Comment:</b>
  <%= @opinion.comment %>
</p>

<p>
  <b>User:</b>
  <%= @opinion.username %>
</p>

<%= link_to 'Edit', edit_polymorphic_path([@opinionable,@opinion]) %> |

<%= link_to 'Back', polymorphic_path(@opinionable) %>
