<h1>Listing deliverymethods</h1>

<table>
  <tr>
    <th>Dmcod</th>
    <th>Dmdesc</th>
    <th>Dmimgurl</th>
    <th>Dmimgtype</th>
    <th>Dmimgw</th>
    <th>Dmimgh</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deliverymethods.each do |deliverymethod| %>
  <tr>
    <td><%= deliverymethod.dmcod %></td>
    <td><%= deliverymethod.dmdesc %></td>
    <td><%= deliverymethod.dmimgurl %></td>
    <td><%= deliverymethod.dmimgtype %></td>
    <td><%= deliverymethod.dmimgw %></td>
    <td><%= deliverymethod.dmimgh %></td>
    <td><%= link_to 'Show', deliverymethod %></td>
    <td><%= link_to 'Edit', edit_deliverymethod_path(deliverymethod) %></td>
    <td><%= link_to 'Destroy', deliverymethod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deliverymethod', new_deliverymethod_path %>
