<p id="notice"><%= notice %></p>

<p>
  <b>Dmcod:</b>
  <%= @deliverymethod.dmcod %>
</p>

<p>
  <b>Dmdesc:</b>
  <%= @deliverymethod.dmdesc %>
</p>

<p>
  <b>Dmimgurl:</b>
  <%= @deliverymethod.dmimgurl %>
</p>

<p>
  <b>Dmimgtype:</b>
  <%= @deliverymethod.dmimgtype %>
</p>

<p>
  <b>Dmimgw:</b>
  <%= @deliverymethod.dmimgw %>
</p>

<p>
  <b>Dmimgh:</b>
  <%= @deliverymethod.dmimgh %>
</p>


<%= link_to 'Edit', edit_deliverymethod_path(@deliverymethod) %> |
<%= link_to 'Back', deliverymethods_path %>
