<h2>Edit your <%= resource_name.to_s.humanize %> profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
    <div>
    <%= f.label "Profile Image:" %>
    <% if !@user.profile_image.nil? %>

        <%= image_tag(@user.profile_image) %>
    <% else %>
          <div class="checkbox">
            <label>
              Use my Gravatar Pic:

              <%=hidden_field_tag 'user[chk_gravatar]', '0'%>
              <%=check_box_tag 'user[chk_gravatar]', 1, false %>
            </label>
          </div>


    <% end %>
    </div>
<br><br>
  <% if @user.provider.nil? %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, :class=>"input-medium search-query span3", :width =>"100px"  %>
    </div>



  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off", :value => "" %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <% else %>
        <p><b><%= "Logged in using "+ @user.provider.to_s.humanize %></b></p>
  <% end %>


    <% if current_user.has_role? :admin %>
        <p><h2>Roles</h2>
        <% for role in Role.all %>
            <div>
              <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
              <%=h role.name %>
            </div>

        <% end %>
        </p>
    <% end %>
    <%= hidden_field_tag "user[role_ids][]", "" %>


    <div>
      <% if !@user.provider.nil? %>
          Sorry, there's nothing to change here just yet.
      <% else %><br><%= f.submit "Update Basic Info", :class => "btn btn-success" %>
      <% end %>
      <br><br><%= link_to "Back", :back,:class => "btn btn-warning" %></div>
<% end %>

<br>
<br>
<br>
<br>


<h4>Cancel my account</h4>

<p><%= button_to "I'm unhappy. Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger btn-mini" %></p>


