<h2>Sign up</h2>
<%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), :class => "btn btn-primary" %>
<br><br>
<%= link_to "Sign up with Twitter", user_omniauth_authorize_path(:twitter), :class => "btn btn-info" %>
<br><br>OR create a WhereToLearn.It account<br><br>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :first_name %>
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %>
  <%= f.text_field :last_name %></div>

  <div><%= f.label :profile_name %>
  <%= f.text_field :profile_name %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
