<h1>Listing contenttags</h1>

<table>
  <tr>
    <th>Ctagdesc</th>
    <th>Taggable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contenttags.each do |contenttag| %>
  <tr>
    <td><%= contenttag.ctagdesc %></td>
    <td><%= contenttag.taggable %></td>
    <td><%= link_to 'Show', contenttag %></td>
    <td><%= link_to 'Edit', edit_contenttag_path(contenttag) %></td>
    <td><%= link_to 'Destroy', contenttag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contenttag', new_contenttag_path %>
