<%= form_for(@costtype) do |f| %>
  <% if @costtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@costtype.errors.count, "error") %> prohibited this costtype from being saved:</h2>

      <ul>
      <% @costtype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :costname %><br />
    <%= f.text_field :costname %>
  </div>
  <div class="field">
    <%= f.label :costdesc %><br />
    <%= f.text_field :costdesc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
