<h1>Listing costtypes</h1>

<table>
  <tr>
    <th>Costname</th>
    <th>Costdesc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @costtypes.each do |costtype| %>
  <tr>
    <td><%= costtype.costname %></td>
    <td><%= costtype.costdesc %></td>
    <td><%= link_to 'Show', costtype %></td>
    <td><%= link_to 'Edit', edit_costtype_path(costtype) %></td>
    <td><%= link_to 'Destroy', costtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Costtype', new_costtype_path %>
