<%= form_for @portfolio, :html => { :class => 'form-horizontal' } do |f| %>

    <div class="control-group">
      <%= f.label 'Title:', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :prttitle, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label 'Description:', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :prtdesc, :rows => 3, :class => 'text_area' %>
      </div>
    </div>

  <div class="control-group">
    <%= f.label 'Source', :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :source_id, Source.find(:all), :id, :name, :prompt => "Select a Source", :class => 'dropdown_field'  %>
    </div>
  </div>

    <div class="control-group">
      <%= f.label 'Subject & Module', :class => 'control-label' %>
      <div class="controls">

        <%= f.collection_select( :subject_id, @subjects, :id, :name, options ={:prompt => "Select a Subject"}, :class => 'dropdown_field') %>
        <%= f.collection_select :subject_module_id, @subject_modules, :id, :smname, :prompt => "Select a Module", :class => 'dropdown_field' %>
      </div>
    </div>

  <div class="control-group">
    <%= f.label 'Web URL:', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pweburl, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Physical Address:', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :physaddress, :rows => 3, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Cost', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cost, size: 15, :class => 'text_field' %>
      <%= f.select :currency, @currlist.map{|cl| [ cl[0], cl[0] ]},:prompt => "Select a Currency", :class => 'dropdown_field' %>
    </div>
  </div>

    <div class="control-group">
      <%= f.label 'Cost Type:', :class => 'control-label' %>
      <div class="controls">

        <%= f.collection_select :costtype_id, Costtype.find(:all), :id, :costname, :prompt => "Select a Type", :class => 'dropdown_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label 'Demo Available:', :class => 'control-label' %>
      <div class="controls">
        <%=hidden_field_tag 'portfolio[prtdemo]', '0'%>
        <%=check_box_tag 'portfolio[prtdemo]', 1, @portfolio.prtdemo %>




      </div>
    </div>

    <div class="control-group">
      <%= f.label :schedtype_id, :class => 'control-label' %>
      <div class="controls">

        <%= f.collection_select :schedtype_id, Schedtype.find(:all), :id, :schedname, :prompt => "Select a Type", :class => 'dropdown_field' %>
      </div>
    </div>


    <div class="control-group">
    <%= f.label :startdate, :class => 'control-label' %>
    <div class="controls">

      <%= f.text_field :startdate, :class => 'datepicker', :size => 10, :maxlength => 10 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :enddate, :class => 'control-label' %>
    <div class="controls">

      <%= f.text_field :enddate, :class => 'datepicker', :size => 10, :maxlength => 10 %>
    </div>
  </div>
    <p></p><p></p>

    <fieldset>
      <legend>Delivery Methods <%= "for #{ @portfolio.source.name + @portfolio.subject_module.subjtitle }" unless @portfolio.source.blank? %></legend>
      <div  id="usedmethods">
        <table width="200" id="usedmethods-table" class="table table-hover table-striped" >
          <thead>
          <th></th>

          <th></th>
          </thead>
          <tbody>

          <tr><td><p><%= link_to_add_fields2( "Add a Method", f, :usedmethods,:class => "btn btn-primary") %></p></td><td></td></tr>
          <%= render('usedmethod_fields', :f => f) %>
          </tbody>
        </table>
        <p></p>
      </div>
    </fieldset>


  <div class="form-actions">
    <%= f.submit "Save", :class => 'btn btn-primary', :title => "Save the changes to this Portfolio." %>

    <%= link_to( t('.cancel', :default => t("helpers.links.cancel")), portfolios_path, :confirm => "Are you sure you want to cancel?  Any changes will be lost.", :class => "btn", :title => "Cancel the changes and return to the Portfolio Index.") %>
  </div>
<% end %>
