

<div id="masonry-container" class="transitions-enabled infinite-scroll  clearfix">
  <% @portfolios.each do |portfolio| %>

      <div class="boxd3 col2" >

        <h4><%= link_to portfolio.prttitle, portfolio,:class => "gridlink" %></h4>
        <p><strong>Description</strong>: <%= truncate(portfolio.prtdesc, length: 100) %></p>
        <p><strong>Subject</strong>: <%= portfolio.subject_module.subjtitle  %></p>
        <p><strong>Source</strong>: <%= portfolio.source.name  %></p>


        <p>
        <%= link_to glyph('info-sign'), portfolio %>
        <%= link_to glyph(:edit), edit_portfolio_path(portfolio) %>
        <%= link_to glyph(:remove), portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></p>


      </div>
  <% end %>
</div>

<br>
