<div id="search">
  <%= render partial: 'search/searchmodel', locals: {:clearpath => portfolios_path} %>
</div>

<div class="page-header">
<h1>Listing Portfolios</h1>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Desc</th>
    <th>SubjectModule</th>
    <th>Source</th>
    <th>Pweburl</th>
    <th>Physaddress</th>
    <th>Cost</th>
    <th>Currency</th>
    <th>Costtype</th>
    <th>Schedtype</th>

    <th>Startdate</th>
    <th>Enddate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @portfolios.each do |portfolio| %>
  <tr>

    <td><%= portfolio.prttitle %></td>
    <td><%= portfolio.prtdesc %></td>

    <td><%= portfolio.subject_module.subjtitle %></td>
    <td><%= portfolio.source.name %></td>

    <td><%= portfolio.pweburl %></td>
    <td><%= portfolio.physaddress %></td>
    <td><%= portfolio.cost %></td>
    <td><%= portfolio.currency %></td>
    <td><%= portfolio.costtype.costname %></td>
    <td><%= portfolio.schedtype.schedname %></td>

    <td><%=  listdt(portfolio.startdate) %></td>
    <td><%=  listdt(portfolio.enddate) %></td>
    <td><%= link_to 'Show', portfolio %></td>
    <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
    <td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Portfolio', new_portfolio_path %>
