<%- model_class = Portfolio -%>
<% title 'Find out more about the ' + @portfolio.pagetitle %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %>: <%= @portfolio.prttitle %>, from <%= @portfolio.source.name %></h1>
</div>

<div class=row">
  <div class="col-md-5">
    <dl class="dl-horizontal">


      <dt><strong>Subject & Module:</strong></dt>
      <dd><%= @portfolio.subject_module.subjtitle %></dd>
      <dt><strong>Description:</strong></dt>
      <dd><%= @portfolio.prtdesc %></dd>
      <dt><strong>Web Url:</strong></dt>
      <dd><%= @portfolio.pweburl %></dd>
      <dt><strong>Address:</strong></dt>
      <dd><%= @portfolio.physaddress %></dd>
    </dl>
  </div>

  <div class="col-md-7">
    <dl class="dl-horizontal">
      <dt><strong>Cost:</strong></dt>
      <dd><%= @portfolio.cost %></dd>
      <dt><strong>Currency:</strong></dt>
      <dd><%= @portfolio.currency %></dd>
      <dt><strong>Cost Type:</strong></dt>
      <dd><%= @portfolio.costtype.costname %></dd>
      <dt><strong>Demo Available:</strong></dt>
      <dd><%= boolyesno(@portfolio.prtdemo) %></dd>

      <dt><strong>Schedule Type:</strong></dt>
      <dd><%= @portfolio.schedtype.schedname %></dd>
      <dt><strong>Start Date:</strong></dt>
      <dd><%= longdttm(@portfolio.startdate) %></dd>
      <dt><strong>End Date:</strong></dt>
      <dd><%= longdttm(@portfolio.enddate) %></dd>


    </dl>
  </div>

</div><br><br>
<div class="row">
  <div class="col-md-5">
    <dt><strong>Used Methods:</strong></dt>
    <dd>
      <div class="well well-sm">
        <% @portfolio.usedmethods.each do |um| %>
            <span class="label label-default"><%= um.deliverymethod.dmdesc %></span>
        <% end %>
      </div>
    </dd>


  </div>
  <div class="col-md-7"></div>
</div>



<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              portfolios_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_portfolio_path(@portfolio), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              portfolio_path(@portfolio),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
