<p id="notice"><%= notice %></p>


<p>
  <b>SubjectModule:</b>
  <%= @portfolio.subject_module.subjtitle %>
</p>

<p>
  <b>Source:</b>
  <%= @portfolio.source.name %>
</p>

<p>
  <b>Pweburl:</b>
  <%= @portfolio.pweburl %>
</p>

<p>
  <b>Physaddress:</b>
  <%= @portfolio.physaddress %>
</p>

<p>
  <b>Cost:</b>
  <%= @portfolio.cost %>
</p>

<p>
  <b>Currency:</b>
  <%= @portfolio.currency %>
</p>

<p>
  <b>Costtype:</b>
  <%= @portfolio.costtype.costname %>
</p>

<p>
  <b>Schedtype:</b>
  <%= @portfolio.schedtype.schedname %>
</p>

<p>
  <b>Startdate:</b>
  <%= @portfolio.startdate.to_formatted_s(:long) %>
</p>

<p>
  <b>Enddate:</b>
  <%= @portfolio.enddate.to_formatted_s(:long) %>
</p>
<div id="usedmethod_display">
  <%= render('usedmethod_display') %>
  <p></p>
</div>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
