<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @portfolio.prttitle %>
</p>

<p>
  <b>Description:</b>
  <%= @portfolio.prtdesc %>
</p>

<p>
  <b>SubjectModule:</b>
  <%= @portfolio.subject_module.subjtitle %>
</p>

<p>
  <b>Source:</b>
  <%= @portfolio.source.name %>
</p>

<p>
  <b>Pweburl:</b>
  <%= @portfolio.pweburl %>
</p>

<p>
  <b>Physaddress:</b>
  <%= @portfolio.physaddress %>
</p>

<p>
  <b>Cost:</b>
  <%= @portfolio.cost %>
</p>

<p>
  <b>Currency:</b>
  <%= @portfolio.currency %>
</p>

<p>
  <b>Costtype:</b>
  <%= @portfolio.costtype.costname %>
</p>

<p>
  <b>Schedtype:</b>
  <%= @portfolio.schedtype.schedname %>
</p>

<p>
  <b>Startdate:</b>
  <%= @portfolio.startdate.to_formatted_s(:long) %>
</p>

<p>
  <b>Enddate:</b>
  <%= @portfolio.enddate.to_formatted_s(:long) %>
</p>
<div class="well well-sm">
  <% @portfolio.usedmethods.each do |um| %>
      <span class="label label-default"><%= um.deliverymethod.dmdesc %></span>
  <% end %>
</div>


<%= link_to 'New Opinion', new_portfolio_opinion_path(@portfolio) %> |
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>

<h1>Opinions</h1>

<table>
  <tr>
    <th>Opinion</th>
    <th>Rating</th>
    <th>Comment</th>
    <th>User</th>
    <th></th>
  </tr>

  <% @portfolio.opinions.each do |opinion| %>
      <tr>
        <td><%= opinion.optitle %></td>
        <td><%= opinion.rating %></td>
        <td><%= opinion.comment %></td>
        <td><%= opinion.username %></td>
        <td><% if current_user && (opinion.username == current_user.username) then %>
              <%= link_to 'Edit', edit_portfolio_opinion_path(@portfolio,opinion) %>
          <% end %>
        </td>

      </tr>
  <% end %>
</table>


