<p id="notice"><%= notice %></p>

<p>
  <b>Portfolioid:</b>
  <%= @portfolio.portfolioid %>
</p>

<p>
  <b>Subjectid:</b>
  <%= @portfolio.subjectid %>
</p>

<p>
  <b>Sourceid:</b>
  <%= @portfolio.sourceid %>
</p>

<p>
  <b>Pweburl:</b>
  <%= @portfolio.pweburl %>
</p>

<p>
  <b>Physaddress:</b>
  <%= @portfolio.physaddress %>
</p>

<p>
  <b>Cost:</b>
  <%= @portfolio.cost %>
</p>

<p>
  <b>Currency:</b>
  <%= @portfolio.currency %>
</p>

<p>
  <b>Costtype:</b>
  <%= @portfolio.costtype %>
</p>

<p>
  <b>Schedtype:</b>
  <%= @portfolio.schedtype %>
</p>

<p>
  <b>Method:</b>
  <%= @portfolio.method %>
</p>

<p>
  <b>Startdate:</b>
  <%= @portfolio.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @portfolio.enddate %>
</p>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
