<h1>Listing usedmethods</h1>

<table>
  <tr>
    <th>Deliverymethod</th>
    <th>Deliverable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usedmethods.each do |usedmethod| %>
  <tr>
    <td><%= usedmethod.deliverymethod %></td>
    <td><%= usedmethod.deliverable %></td>
    <td><%= link_to 'Show', usedmethod %></td>
    <td><%= link_to 'Edit', edit_usedmethod_path(usedmethod) %></td>
    <td><%= link_to 'Destroy', usedmethod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usedmethod', new_usedmethod_path %>
