<p id="notice"><%= notice %></p>

<p>
  <b>Stcod:</b>
  <%= @sourcetype.stcod %>
</p>

<p>
  <b>Stdesc:</b>
  <%= @sourcetype.stdesc %>
</p>


<%= link_to 'Edit', edit_sourcetype_path(@sourcetype) %> |
<%= link_to 'Back', sourcetypes_path %>
