<h1>Listing <%= @subject.name %> modules</h1>

<table>
  <tr>
    
    
    <th>Subjectid</th>
    <th>Name</th>
    <th>Description</th>
    <th>Purpose</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subject_modules.each do |subject_module| %>
  <tr>
    
    
    <td><%= subject_module.subject_id %></td>
    <td><%= subject_module.smname %></td>
    <td><%= subject_module.smdescription %></td>
    <td><%= subject_module.smpurpose %></td>
    <td><%= subject_module.order %></td>
    <td><%= link_to 'Show', subject_subject_module_path(subject_module.subject, subject_module) %></td>
    <td><%= link_to 'Edit', edit_subject_subject_module_path(subject_module.subject, subject_module) %></td>

  </tr>
<% end %>
</table>

<br />


