<p id="notice"><%= notice %></p>

<p>
  <b>Subjectmoduleid:</b>
  <%= @subject_module.subjectmodule_id %>
</p>


<p>
  <b>Subjectid:</b>
  <%= @subject_module.subject_id %>
</p>

<p>
  <b>Name:</b>
  <%= @subject_module.name %>
</p>

<p>
  <b>Description:</b>
  <%= @subject_module.description %>
</p>

<p>
  <b>Purpose:</b>
  <%= @subject_module.purpose %>
</p>

<p>
  <b>Category4:</b>
  <%= @subject_module.category4 %>
</p>

<p>
  <b>Category5:</b>
  <%= @subject_module.category5 %>
</p>

<p>
  <b>Order:</b>
  <%= @subject_module.order %>
</p>


<%= link_to 'Edit', edit_subject_module_path(@subject_module) %> |
<%= link_to 'Back', subject_modules_path %>
