<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject_id %><br />
    <%= f.number_field :subject_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :purpose %><br />
    <%= f.text_field :purpose %>
  </div>
  <div class="field">
    <%= f.label :complexity %><br />
    <%= f.text_field :complexity %>
  </div>
  <div class="field">
    <%= f.label :complexity %><br />
    <%= f.text_field :complexity %>
  </div>
  <div class="field">
    <%= f.label :category1 %><br />
    <%= f.number_field :category1 %>
  </div>
  <div class="field">
    <%= f.label :category2 %><br />
    <%= f.number_field :category2 %>
  </div>
  <div class="field">
    <%= f.label :category3 %><br />
    <%= f.number_field :category3 %>
  </div>
  <div class="field">
    <%= f.label :avgtimetolearn %><br />
    <%= f.number_field :avgtimetolearn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
