
<%= f.fields_for(:subject_modules) do |subject_modules_form| %>
<tr class="fields">
<td>


  <div class="control-group">
    <div class="controls">
      <%= subject_modules_form.text_field(:smname, :class => "input-xlarge field", :size => 35, :data => { :validation => "required validate_max_length length50", "validation-error-msg" => "A Name is required and cannot be longer than 50 characters." }) %>
    </div>
  </div>

</td>

<td>

  <div class="control-group">
    <div class="controls">
      <%= subject_modules_form.text_area(:smdescription, :class => "input-xlarge field", :rows => 3) %>
    </div>
  </div>


</td>

<td>

  <div class="control-group">
    <div class="controls">
      <%= subject_modules_form.text_area(:smpurpose, :class => "input-xlarge field", :rows => 3) %>
    </div>
  </div>
  <%= subject_modules_form.hidden_field(:_destroy, :class => "field") %>


</td>
  <% if current_page?(new_subject_path) || current_page?(edit_subject_path) %>
      <td>

        <%= link_to_remove_fields('<b class="icon-remove">x</b>'.html_safe, subject_modules_form, :title => "Delete this Module.") %>
      </td>
  <% end %>



</tr>

<% end %>