<div class="subject_module">
<fieldset>
	
<p>
  <%= f.label :smname, "Name" %><br />
  <%= f.text_field :smname, :size => 35 %><br />
  <%= f.label :smdescription, "Description" %><br />
  <%= f.text_area :smdescription, :rows => 3 %><br />
  <%= f.label :smpurpose, "Purpose" %><br />
  <%= f.text_area :smpurpose, :rows => 3 %><br />
  
</p>

</fieldset>
</div>
 

