

<table class="table table-striped">
  <tr>

    <th>Name</th>
    <th>Description</th>
    <th>Purpose</th>
    <th>Complexity</th>

    <th>Category1</th>
    <th>Category2</th>
    <th>Category3</th>
    <th>Learn Time</th>
    <th></th>
  </tr>

  <% @subjects.each do |subject| %>

      <tr>

        <td width="100"><%= link_to subject.name, subject, :class => "tablelink" %></td>
        <td width="200"><%= truncate(subject.description, length: 100) %></td>
        <td><%= subject.purpose %></td>
        <td>
          <%= hidden_field "complexityval", subject.id, :value => subject.complexity %>


          <div class="progress">
            <div id="complexbarlow_<%= subject.id %>" name="complexbarlow[<%= subject.id %>]" class="bar bar-success mypopover" style="width:33%;" title="" data-content="Easy peezy" data-placement="bottom" data-toggle="popover" data-original-title="Meh"></div>
            <div id="complexbarmid_<%= subject.id %>" name="complexbarlow[<%= subject.id %>]" class="bar bar-warning mypopover" style="width:33%;" title="" data-content="Getting hot in here" data-placement="bottom" data-toggle="popover" data-original-title="Hmm"></div>
            <div id="complexbarhigh_<%= subject.id %>" name="complexbarlow[<%= subject.id %>]" class="bar bar-danger mypopover" style="width:33%;" title="" data-content="You will not succeed" data-placement="bottom" data-toggle="popover" data-original-title="Sigh"></div>
          </div>
        </td>

        <td><%= subject.category1.cat1desc %></td>
        <td><%= subject.category2.cat2desc %></td>
        <td><%= subject.category3.cat3desc %></td>
        <td><%= subject.avgtimetolearn %></td>
        <td>
        <%= link_to 'Show', subject, :class => 'btn btn-mini' %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_subject_path(subject) , :class => 'btn btn-mini' %>

        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    subject,
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
  <% end %>
</table>
<br>
