

<div id="masonry-container" class="transitions-enabled infinite-scroll  clearfix">
  <% @subjects.each do |subject| %>

      <div class="boxd3 col2" >

            <h4><%= link_to subject.name, subject %></h4>

        <p><strong>Description</strong>: <%= subject.description %></p>
        <p><strong>Purpose</strong>: <%= subject.purpose %></p>

        <!--
        <p><%= subject.complexity %></p>

        <p><%= subject.category1.cat1desc %></p>
        <p><%= subject.category2.cat2desc %></p>
        <p><%= subject.category3.cat3desc %></p>
        <p><%= subject.avgtimetolearn %></p>
        -->
        <p>
        <%= link_to glyph('info-sign'), subject %>
        <%= link_to glyph(:edit), edit_subject_path(subject) %>
        <%= link_to glyph(:remove), subject, method: :delete, data: { confirm: 'Are you sure?' } %></p>


      </div>
  <% end %>
</div>

<br>
