<div class="row">
  <div class="col-md-8">
    <%= link_to 'Create New Subject', new_subject_path, class: "btn btn-mini btn-warning" %>
  </div>
  <div class="col-md-4">


    <div id="search">
      <a id="gridbtn" href="#" class="btn btn-default btn-mini" role="button">Grid</a>
      <a id="listbtn" href="#" class="btn btn-default btn-mini" role="button">List</a>

      <%= render partial: 'search/searchmodel', locals: {:clearpath => subjects_path} %>
    </div>
  </div>
</div>



<br><br>
<h1>Subjects</h1>
<div id="divgrid">
<%= render partial: 'subjectindexgrid' %>
</div>
<div id="divlist">
  <%= render partial: 'subjectindextable' %>
</div>


<br />

<p>

<div id="tag_cloud">
  <% tag_cloud Subject.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, subject_tag_path(tag.name), class: css_class %>
  <% end %>
</div>
</p>