<%- model_class = Subject -%>

<div class="row">
  <div class="page-header col-md-12">
    <h1><span style="border-right:1px #F5D15F solid;margin-right: 10px">Subjects </span><%= link_to 'Create One', new_subject_path, class: "btn btn-mini btn-success" %>
      <%= render partial: 'search/searchmodel', locals: {:clearpath => subjects_path} %>
    </h1>
  </div>
</div>



<div id="divgrid">
<%= render partial: 'subjectindexgrid' %>
</div>
<div id="divlist">
  <%= render partial: 'subjectindextable' %>
</div>


<br />

<p>

<div id="tag_cloud" class="tag_cloud">
  <% tag_cloud Subject.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, subject_tag_path(tag.name), class: css_class %>
  <% end %>
</div>
</p>