<p id="notice"><%= notice %></p>

<p>
  <b>Subjectid:</b>
  <%= @subject.subjectid %>
</p>

<p>
  <b>Name:</b>
  <%= @subject.name %>
</p>

<p>
  <b>Description:</b>
  <%= @subject.description %>
</p>

<p>
  <b>Purpose:</b>
  <%= @subject.purpose %>
</p>

<p>
  <b>Complexity:</b>
  <%= @subject.complexity %>
</p>

<p>
  <b>Complexity:</b>
  <%= @subject.complexity %>
</p>

<p>
  <b>Category1:</b>
  <%= @subject.category1 %>
</p>

<p>
  <b>Category2:</b>
  <%= @subject.category2 %>
</p>

<p>
  <b>Category3:</b>
  <%= @subject.category3 %>
</p>

<p>
  <b>Avgtimetolearn:</b>
  <%= @subject.avgtimetolearn %>
</p>


<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
