<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @subject.name %>
</p>

<p>
  <b>Description:</b>
  <%= @subject.description %>
</p>

<p>
  <b>Purpose:</b>
  <%= @subject.purpose %>
</p>

<p>
  <b>Complexity:</b>
  <%= @subject.complexity %>
</p>

<p>
  <b>Category1:</b>
  <%= @subject.category1.cat1desc %>
</p>

<p>
  <b>Category2:</b>
  <%= @subject.category2.cat2desc %>
</p>

<p>
  <b>Category3:</b>
  <%= @subject.category3.cat3desc %>
</p>

<p>
  <b>Avgtimetolearn:</b>
  <%= @subject.avgtimetolearn %>
</p>

<p>
  <b>Tags:</b>
  <%= @subject.tag_list %>
</p>

<div id="subject_module_display">
  <%= render('subject_module_display') %>
  <p></p>
</div>


<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
